<html>
	<head>
		<title>About</title>
	</head>
	<body>
		<% include Header %>
		<h2>About</h2>
		This site is developed by Lukas Edelböck, Felix Kamper, and Andreas Wundlechner.
		<% include Footer %>
	</body>
</html