<head>
<style type='text/css'>
@import url('style.css') screen;
</style>
<script type='<%= scriptlanguage %>' src='search_bar.js'></script>
</head>
<h1><a href='/'>TWABOT</a></h1>
Choose the Channel of your favour<br>
<form id='searchFormID' action=''></form>
<input type='text' id='searchChannelName' name='channelName' value='Channel Name'>
<input type='button' value='Search' onclick='search("searchFormID", "searchChannelName");'>
<br>