<!DOCTYPE HTML>
<html><head>
<script type="<%= scriptlanguage %>" src="charts.js/Chart.js"></script>
<script type="<%= scriptlanguage %>" src="canvas_factory.js"></script>
</head>
<body onload="draw();">
<% include Header %>
<h2>Most Active Channels</h2>
<br>
<table cellpadding="2" cellspacing="2">
<tbody>
<tr>
<td><a href="/user/test"><canvas id="canvasActiveChannel1" width="330" height="180"></canvas></a></td>
<td><canvas id="canvasActiveChannel2" width="330" height="180"></canvas></td>
<td><canvas id="canvasActiveChannel3" width="330" height="180"></canvas></td>
</tr>
<tr>
<td><canvas id="canvasActiveChannel4" width="330" height="180"></canvas></td>
<td><canvas id="canvasActiveChannel5" width="330" height="180"></canvas></td>
<td><canvas id="canvasActiveChannel6" width="330" height="180"></canvas></td>
</tr>
</tbody>
</table>
<h2>Most Emotional Channels</h2>
<table cellpadding="2" cellspacing="2">
<tbody>
<tr>
<td><canvas id="canvasEmotionChannel1" width="330" height="180"></canvas></td>
<td><canvas id="canvasEmotionChannel2" width="330" height="180"></canvas></td>
<td><canvas id="canvasEmotionChannel3" width="330" height="180"></canvas></td>
</tr>
<tr>
<td><canvas id="canvasEmotionChannel4" width="330" height="180"></canvas></td>
<td><canvas id="canvasEmotionChannel5" width="330" height="180"></canvas></td>
<td><canvas id="canvasEmotionChannel6" width="330" height="180"></canvas></td>
</tr>
</tbody>
</table>
<h2>Overall Emotions</h2>
<canvas id="canvasOverall" width="330" height="180"></canvas>
<% include Footer %>
</body>
</html>